{% extends 'index.html' %}

{% block content %}
    <div class="container mt-4">
        <h2>About Us</h2>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <img src="../images/adi.jpg" class="card-img-top" alt="image">
                    <div class="card-body">
                        <h5 class="card-title">Aditya</h5>
                        <p class="card-text">A brief description</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card">
                    <img src="../images/adi.jpg" class="card-img-top" alt="image">
                    <div class="card-body">
                        <h5 class="card-title">Jay</h5>
                        <p class="card-text">A brief description</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}